.start {
    font-family: "Roboto", "Raleway", sans-serif;
    color: #2e2f42;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

                    /* header */
.page-headers {
    border-bottom: 1px solid #e7e9fc;
}

.navigation {
    align-items: center;
    display: flex;
    margin-right: auto;
}

.containers {
    display: flex;
    
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.part-logo {
    color: #2e2f42;
}

.navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.list-contacts {
    width: 344px;
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.navigation-menu:hover,
.navigation-menu:focus {
    color: #404bbf;
}

.navigation-menu:active {
    color: #404bbf;
}

                    /*main*/

                    /*Effective Solutions*/
.solutions {
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.effective-solutions {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    
}

.order-button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    border: 0;
    display: block;
    padding: 16px 32px;
    min-width: 169px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    margin-top: 48px;
    margin: 48px auto 0 auto;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

                    /*our qualities*/
.qualities {

    padding: 120px 0;
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}/*скрывает текст*/

.list-qualities {
    display: flex;
    gap: 24px;

}

.list-qualities .title-qualities {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-qualities .paragraph-qualities {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.advantages {
    width: 264px;
}

.list-qualities .icon-advantages{
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    order: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
}

                        /*Our Team*/
.team {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-our {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.profession {
    padding: 32px 0;
}

.team-list .employees {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 72px) / 4);
    width: 264px;
    height: 428px;
}

.team-list .title-team-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list .paragraph-team-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-list .title-team-list,
.team-list .paragraph-team-list {
    text-align: center;
}

.employees .team-list-sthcsets{
    /*display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 8px;
    justify-content:center;*/
}
.team-list-sthcsets .icon{
fill: #4d5ae5;
}
.team-list-sthcsets .link-icon:hover .icon {
fill: #31d0aa;
}

                        /*Our Portfolio*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-portfolio {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.title-portfolio {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.list-portfolio .title-list-portfolio {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px
}

.list-portfolio .paragraph-list-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.header-markup {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.list-portfolio .services {
    /*border: 1px solid #e7e9fc;
    border-top: none;
    width: 360px;
    height: 420px;
    background: #fff;*/
    width: calc((100% - 48px) / 3);
}

                        /*footer*/
.footers {
    background-color: #2e2f42;
    color: white;
    padding: 100px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.part-logo-footer {
    color: #f4f4fd;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    
}

.footers .footers-sthcsets{
    display: flex;
    gap: 24px;
    padding-top: 8px;
    justify-content: center;
}